{% extends "user/index.html" %}
{% block body %}
    <table class="table table-striped">
        <tr style="color:#fff;background: #000;">
            <th>#</th>
            <th>NAME</th>
            <th>PLACE</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>QUALIFICATION</th>
            <th></th>
            <th></th>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td align="center"><img src="{{ i.image }}" height="100" width="100"><br><b>{{ i.name }}</b></td>
                <td>{{ i.place }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.qualification }}</td>
                <td><a href="/user_send_request/{{ i.psych_id }}" class="btn btn-success" onclick="return confirm('Are you sure?')">Send Request</a> </td>
                <td><a href="/user_view_schedules/{{ i.psych_id }}" class="btn btn-info">View Schedules</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}